{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Agregar Empleados</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}
  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <div id="wrapper" style="margin-top: 70px;">
      <div class="vertical-menu" id="first">
       <a href="{% url 'perfil' %}">Perfil</a>
       <a href="{% url 'lista' %}" class="active">Administrar Empleados</a>
       <a href="{% url 'crear_usuario' %}">Crear usuario</a>
       <a href="{% url 'inicio' %}">Cerrar Sesion</a>
      </div>
      <form action="" method="POST">
      <div id="second" style="margin-top: 30px;">
        <label style="width: 10%;" for="">Nombre</label>
        <input class="agregar" style="width: 100px;" id="nombre" name="nombre">
        <label style="width: 8%; margin-left: 20px;" for="">Apellido</label>
        <input class="agregar" style="width: 100px;" id="apellido" name="apellido">
        <br><br>
        <label style="width: 10%;" for="">Rut</label>
        <input class="agregar" style="width: 100px;" id="rut" name="rut">
        <label style="width: 8%; margin-left: 20px;" for="">Telefono</label>
        <input class="agregar" style="width: 100px;" id="telefono" name="telefono">
        <br><br>
        <label style="width: 10%;" for="">Sueldo bruto</label>
        <input class="agregar" style="width: 100px;" id="sbruto" name="sbruto">
        <label style="width: 8%; margin-left: 20px;" for="">Prevision</label>
        <input class="agregar" style="width: 100px;" id="prevision" name="prevision">
        <br><br>
        <label style="width: 10%;" for="">Imposiciones</label>
        <input class="agregar" style="width: 100px;" id="imposiciones" name="imposiciones">
        <label style="width: 8%; margin-left: 20px;" for="">Bono transporte</label>
        <input class="agregar" style="width: 100px;" id="btransporte" name="btransporte">
        <br>
        <label style="width: 10%;" for="">Bono adicionales</label>
        <input class="agregar" style="width: 100px;" id="badc" name="badc">
        <div>
          <a type="submit" class="botones" href="{% url 'agregar' %}">Agregar</a>
        </div>
      </div>
    </form>
      
      
  {% endblock contenido1 %}