{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Crear Empresa</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}

  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <div id="wrapper" style="margin-top: 70px;">
      <div id="first">
         <div class="vertical-menu">
           <a href="{% url 'perfil' %}">Perfil</a>
           <a href="{% url 'lista' %}" >Administrar Empleados</a>
           <a href="{% url 'lista_empresa' %}" class="active">Administrar Empresas</a>
           <a href="{% url 'inicio' %}">Cerrar Sesion</a>
         </div>
      </div>
        <div id="second" > 
          <br>
          <h1 style="margin-left: 150px;"> Crear Usuario Empresa-Cliente </h1>

         <table style="margin-top: 100px; width: 90%;">
            <tr>
                <th>Nombre</th>
                <th>Contraseña</th>
                <th>Rut</th>
                <th>Correo electronico</th>
                <th>Celular/telefono</th>
                <th>Tipo de cuenta</th>
                <th>Accion</th>
            </tr>
            <form method="POST" action="">
              {% csrf_token %}
              <tr>
                <td><input style="width: 120px;" class="agregar" id="nombreE" name="nombreE" placeholder="ingrese nombre"></td>
                <td><input class="agregar" type="password" name="contraseñaE" id="contraseñaE" placeholder="ingrese contraseña"></td>
                <td><input class="agregar" name="rutE" id="rutE" placeholder="ingrese rut"></td>
                <td><input class="agregar" name="correoE" id="correoE" placeholder="ingrese correo"></td>
                <td><input class="agregar" type="number" name="telefonoE" id="telefonoE" placeholder="ingrese telefono"></td>
                <td><input class="agregar" name="tipocuenta" id="tipocuenta" placeholder="ingrese tipo cuenta"></td>
                <td><input class="botonadd" id="crearusuario" type="submit" value="Confirmar"></td>
              </tr>
            </form>
          </table>
        </div>      
    {% endblock contenido1 %}