{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Lista Empleados</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}
  <!--texto inicio  -->
  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <div style="margin-top: 120px;margin-left: 80px;">
        <h1>Inicio</h1>
        <p>Este es el proyecto miSitio</p>
        <a class="botones" href="{% url 'InicioSesion' %}">Inicio sesión</a>
    </div>

    {% endblock contenido1 %}