{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Lista Empresa</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}
  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <div id="wrapper" style="margin-top: 70px;">
      <div id="first">
         <div class="vertical-menu">
           <a href="{% url 'perfil' %}">Perfil</a>
           <a href="{% url 'lista' %}" >Administrar Empleados</a>
           <a href="{% url 'lista_empresa' %}" class="active">Administrar Empresas</a>
           <a href="{% url 'inicio' %}">Cerrar Sesion</a>
         </div>
      </div>
         <div class="container">
           <div>
               <select name="select" class="filtro">
                 <option selected value="value1">Nombre</option>
                 <option value="value2">Telefono</option>
                 <option value="value3">Rut</option> 
               </select> 
               <input type="text" id="text1" class="filtro" placeholder="Ingrese aqui">
               <button class="botones">Filtrar</button>
         </div>
         <table>
         <tr>
            <th>Nombre</th>
            <th>Contraseña</th>
            <th>Rut</th>
            <th>Correo electronico</th>
            <th>Celular/telefono</th>
            <th>Tipo de cuenta</th>
            <th colspan="2">Accion</th>
           </tr>

            {% for em in empresa %}

            <tr>
              <td>{{ em.nombreE }}</td>
              <td>{{ em.contraseñaE }}</td>
              <td>{{ em.rutE }}</td>
              <td>{{ em.correoE }}</td>
              <td>{{ em.telefonoE }}</td>
              <td>{{ em.tipocuenta }}</td>
              <td><a href="{% url 'eliminar_empresa' em.rutE %}" onclick="return confirm('estas seguro de eliminarlo?');">Eliminar</a></td>
              <td><a href="{% url 'modificar_empresa' em.rutE %}">Modificar</a></td>
            </tr>

            {% endfor %}
       </table>
       <br><br>
       <a class="botones" href="{% url 'crear_empresa' %}">Agregar</a>
        </body>
        {% endblock contenido1 %}