{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Lista Empleados</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}
  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <div id="wrapper" style="margin-top: 70px;">
      <div id="first">
         <div class="vertical-menu">
           <a href="{% url 'perfil' %}">Perfil</a>
           <a href="{% url 'lista' %}" class="active">Administrar Empleados</a>
           <a href="{% url 'crear_usuario' %}">Crear usuario</a>
           <a href="{% url 'inicio' %}">Cerrar Sesion</a>
         </div>
      </div>
         <div class="container">
           <div>
               <select name="select" class="filtro">
                 <option selected value="value1">Nombre</option>
                 <option value="value2">Telefono</option>
                 <option value="value3">Rut</option> 
               </select> 
               <input type="text" id="text1" class="filtro" placeholder="Ingrese aqui">
               <button class="botones">Filtrar</button>
         </div>
         <table>
         <tr>
             <th>Nombre</th>
             <th>Telefono</th>
             <th>Rut</th>
             <th>Sueldo bruto</th>
             <th>Prevision</th>
             <th>Imposiciones</th>
             <th>Bono transporte</th>
             <th>Bonos adicionales</th>
             <th colspan="2">Accion</th>
           </tr>

            {% for a in empleado %}

            <tr>
              <td>{{ a.nombre }} {{ a.apellido }}</td>
              <td>{{ a.telefono }}</td>
              <td>{{ a.rut }}</td>
              <td>{{ a.sbruto }}</td>
              <td>{{ a.prevision }}</td>
              <td>{{ a.imposiciones }}</td>
              <td>{{ a.btransporte }}</td>
              <td>{{ a.badc }}</td>
              <td><a href="{% url 'eliminar_empleados' a.rut %}" onclick="return confirm('estas seguro de eliminarlo?');">Eliminar</a></td>
             <td><a href="{% url 'modificar_empleado' a.rut %}">Modificar</a></td>
            </tr>

            {% endfor %}
       </table>
       <br><br>
       <a class="botones" href="{% url 'agregar' %}">Agregar</a>
        </body>
        {% endblock contenido1 %}