{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Lista Empleados</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}
  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <div id="wrapper" style="margin-top: 70px;">
      <div id="first">
         <div class="vertical-menu">
           <a href="{% url 'perfil' %}">Perfil</a>
           <a href="{% url 'lista' %}" class="active">Administrar Empleados</a>
           <a href="{% url 'crear_usuario' %}">Crear usuario</a>
           <a href="{% url 'inicio' %}">Cerrar Sesion</a>
         </div>
      </div>
         <div class="container">
           <div>
               <select name="select" class="filtro">
                 <option selected value="value1">Nombre</option>
                 <option value="value2">Telefono</option>
                 <option value="value3">Direccion</option> 
               </select> 
               <input type="text" id="text1" class="filtro" placeholder="Ingrese aqui">
               <button class="botones">Filtrar</button>
         </div>
         <table>
         <tr>
             <th>Nombre</th>
             <th>Telefono</th>
             <th>Direccion</th>
             <th>Sueldo bruto</th>
             <th>Prevision</th>
             <th>Imposiciones</th>
             <th>Bono transporte</th>
             <th>Bonos adicionales</th>
             <th colspan="2">Accion</th>
           </tr>
           <tr>
             <td class="nombre">Kevin del rio</td>
             <td>988987646</td>
             <td>Chile,Santiago,Quilicura</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td><a href="./eliminar.html" onclick="return confirm('estas seguro de eliminarlo?');">Eliminar</a></td>
             <td><a href="./modificar.html">Modificar</a></td>
           </tr>
           <tr>
             <td>Diego Chacana</td>
             <td>949484814</td>
             <td>Chile,Santiago,Quilicura</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td><a href="./eliminar2.html" onclick="return confirm('estas seguro de eliminarlo?');">Eliminar</a></td>
             <td><a href="./modificar2.html">Modificar</a></td>
           </tr>
           <tr>
             <td>Ricardo Salas</td>
             <td>985475462</td>
             <td>Chile,Santiago,Desconocido</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td><a href="./eliminar3.html" onclick="return confirm('estas seguro de eliminarlo?');">Eliminar</a></td>
             <td><a href="./modificar3.html">Modificar</a></td>
           </tr>
           <tr>
             <td>Patricio Ogaz</td>
             <td>985674521</td>
             <td>Chile,Santiago,Desconocido</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
             <td><a href="./eliminar4.html" onclick="return confirm('estas seguro de eliminarlo?');">Eliminar</a></td>
             <td><a href="./modificar4.html">Modificar</a></td>
           </tr>
       </table>
       <br><br>
       <a class="botones" href="./agregar.html">Agregar</a>
        </body>
        {% endblock contenido1 %}