{%  extends 'usuario/plantilla.html'  %}
{% load static %}
{% load socialaccount %}
{% block contenido2 %}

<title>Login</title>

  {% endblock contenido2 %}
  
 
  {% block contenido1 %}
  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
        <section class="formulario-login">
            <form class="form-group" id="loginform" method="POST" action="{% url 'lista' %}">
                {% csrf_token %}
                    <h4>Login</h4>
                    <label for="correo">Correo</label>
                    <input class="controles" id="correoU" name="correoU" placeholder="Ingrese su Correo">
                    <br><br>
                    <label for="contraseña">Contraseña</label>
                    <input class="controles" type="password" name="contraseñaU" id="contraseñaU" minlength="6" placeholder="Ingrese su Contraseña">
                    <p>¿No tienes Cuenta?<a href="{% url 'registro' %}"> Registrarse</a></p>
                    <input class="botones" id="ingresar" type="submit" value="Ingresar">
                    <br><br>
                    <a class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="oauth2" %}">
                        <span class="fab fa-facebook"></span>
                           Login with facebook
                    </a>
                    
            </form>
        </section>
    </body>
    {% endblock contenido1 %}
    