{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Modificar Empleados</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}
  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <div id="wrapper" style="margin-top: 70px;">
      <div class="vertical-menu" id="first">
       <a href="{% url 'perfil' %}">Perfil</a>
       <a href="{% url 'lista' %}" class="active">Administrar Empleados</a>
       <a href="{% url 'lista_empresa' %}">Administrar Empresas</a>
       <a href="{% url 'inicio' %}">Cerrar Sesion</a>
      </div>
      <div id="second" style="margin-top: 30px;">
        <form action="" method="POST">
          {% csrf_token %}
        <label style="width: 10%;" for="">Nombre</label>
        <input id="nombre" name="nombre" value="{{ empleado.nombre }}">
        <label for="">Apellido</label>
        <input id="apellido" name="apellido" value="{{ empleado.apellido }}">
        <br><br>
        <label style="width: 10%;" for="">Rut</label>
        <input id="rut" name="rut" value="{{ empleado.rut }}">
        <label for="">Telefono</label>
        <input id="telefono" name="telefono" value="{{ empleado.telefono }}">
        <br><br>
        <label style="width: 10%;" for="">Sueldo bruto</label>
        <input id="sbruto" name="sbruto" value="{{ empleado.sbruto }}">
        <label for="">Prevision</label>
        <input id="prevision" name="prevision" value="{{ empleado.prevision }}">
        <br><br>
        <label style="width: 10%;" for="">Imposiciones</label>
        <input id="imposiciones" name="imposiciones" value="{{ empleado.imposiciones }}">
        <label for="">Bono transporte</label>
        <input id="btransporte" name="btransporte" value="{{ empleado.btransporte }}">
        <br>
        <label style="width: 10%;" for="">Bonos adicionales</label>
        <input id="badc" name="badc" value="{{ empleado.badc }}">
        <br><br>
        <div>
          <input style="width: 100px;" class="botones" type="submit" name="btnadd" id="btnadd" value="Modificar">
        </div>
      </form>
      </div>
      {% endblock contenido1 %}