{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Modificar Usuario</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}
  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <div id="wrapper" style="margin-top: 70px;">
      <div class="vertical-menu" id="first">
       <a href="{% url 'perfil' %}" class="active">Perfil</a>
       <a href="{% url 'lista' %}" >Administrar Empleados</a>
       <a href="{% url 'lista_empresa' %}">Administrar Empresas</a>
       <a href="{% url 'inicio' %}">Cerrar Sesion</a>
      </div>
      <div id="second" style="margin-top: 30px;">
        <form action="" method="POST">
          {% csrf_token %}
        <label style="width: 10%;" for="">Nombre</label>
        <input id="nombreU" name="nombreU" value="{{ usuario.nombreU }}">
        <label for="">Apellido</label>
        <input id="apellidoU" name="apellidoU" value="{{ usuario.apellidoU }}">
        <br><br>
        <label style="width: 10%;" for="">Contraseña</label>
        <input type="password" id="contraseñaU" name="contraseñaU" value="{{ usuario.contraseñaU }}">
        <label style="width: 10%;" for="">Correo</label>
        <input id="correoU" name="correoU" value="{{ usuario.correoU }}">
        <label for="">Telefono</label>
        <input id="telefonoU" name="telefonoU" value="{{ usuario.telefonoU }}">
        <br><br>
        <div>
          <input style="width: 100px;" class="botones" type="submit" name="btnaddU" id="btnaddU" value="Modificar">
        </div>
      </form>
      </div>
      {% endblock contenido1 %}