{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Perfil</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}
  
  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <div id="wrapper" style="margin-top: 70px;">
      <div id="first">
         <div class="vertical-menu">
           <a href="{% url 'perfil' %}" class="active">Perfil</a>
           <a href="{% url 'lista' %}" >Administrar Empleados</a>
           <a href="{% url 'crear_usuario' %}">Crear usuario</a>
           <a href="{% url 'inicio' %}">Cerrar Sesion</a>
         </div>
      </div>
        <div class="container" > 
          <br>
          <h1 style="margin-left: 100px;"> Datos de la Cuenta </h1>

         <table style="margin-left: 40px; margin-top: 100px; width: 90%; height: 200px; margin-right: 150px;">
            <tr>
                <th>Nombre Completo</th>
                <th>Contraseña actual</th>
                <th >Rut</th>
                <th>Correo electronico</th>
                <th>Celular/telefono</th>
                <th>Tipo de cuenta</th>
                
                <th ></th>
              </tr>
              <tr>
                <td class="nombre">Kevin Del Rio</td>
                <td>*************</td>
                <td class="nombre">12345678-9</td>
                <td>kdelriom@gmail.com</td>
                <td>9 4948 4814</td>
                <td>Administrador</td>
                <td><a href="./datos.html">Modificar</a></td>

              </tr>
            </div>      
          </table>
        </div>
        {% endblock contenido1 %}