{%  extends 'usuario/plantilla.html'  %}

{% load static %}

{% block contenido2 %}

<title>Registro</title>

  {% endblock contenido2 %}
  
  
  {% block contenido1 %}

  <body style="background-image: url({% static 'usuario/imagen/fondo-login.jpg' %});background-size: 100%;">
    <section class="formulario-login">
        <form class="form-group" method="POST" action="">
          {% csrf_token %}
                <h4>Registro de Usuario</h4>
                <label for="nombres">Nombre</label>
                <input class="controles" name="nombreU" id="nombreU" placeholder="Ingrese su Nombre">
                <br><br>
                <label for="apellidos">Apellido</label>
                <input class="controles" name="apellidoU" id="apellidoU" placeholder="Ingrese sus Apellidos">
                <br><br>
                <label for="correo">Correo</label>
                <input class="controles" name="correoU" id="correoU" placeholder="Ingrese su Correo">
                <br><br>
                <label for="contraseña">Contraseña</label>
                <input class="controles" type="password" name="contraseñaU" id="contraseñaU" placeholder="Ingrese su Contraseña">
                <br><br>
                <label for="telefono">Telefono</label>
                <input class="controles" name="telefonoU" id="telefonoU" placeholder="Ingrese su Telefono">
                <br><br>
                <input class="botones" id="registrarse" type="submit" value="Registrarse">
        </form>
    </section>
    {% endblock contenido1 %}
